name: "DMS GitOps Pipeline"

on:
  push:
    branches: [ main ]
  pull_request:

env:
  AWS_REGION: us-east-1
  TF_VERSION: 1.6.0

jobs:
  migration-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Infrastructure Deployment (Terraform)
      - name: 'configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v2
        with:
          ACCESS_KEY_ID: ${{secrets.ACCESS_KEY_ID}}
          SECRET_ACCESS_KEY: ${{secrets.SECRET_ACCESS_KEY}}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
          terraform_wrapper: false


      - name: Cache Terraform
        uses: actions/cache@v3
        with:
          path: |
            ~/.terraform.d/plugin-cache
            .terraform
          key: terraform-${{ runner.os }}-${{ hashFiles('**/*.tf') }}


      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        env:
          TF_VAR_onprem_mysql_password: ${{ secrets.MYSQL_PASSWORD }}
          TF_VAR_ssh_key_name: ${{ secrets.SSH_KEY_NAME }}

      - name: Terraform Apply
        id: tf
        run: |
          terraform apply -auto-approve tfplan
          echo "DMS_TASK_ARN=$(terraform output -raw dms_replication_task_arn)" >> $GITHUB_OUTPUT
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      # 3. Configuration & Seeding (Ansible)
      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible AWS EC2 Inventory Plugin
        run: ansible-galaxy collection install amazon.aws

      - name: Run Ansible Playbook
        run: |
           ansible-playbook -i ansible/inventory.aws_ec2.yml ansible/playbook.yml \
           --extra-vars "mysql_password=${{ secrets.MYSQL_PASSWORD }}" \
           --forks 5 -vv
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      # 4. Run DMS Pre-Migration Assessment
      - name: Run DMS Assessment
        run: |
          aws dms start-replication-task-assessment-run \
          --replication-task-arn "${{ steps.tf.outputs.DMS_TASK_ARN }}" \
          --assessment-run-name "assessment-${GITHUB_RUN_ID}" \
          --service-access-role-arn "$(terraform output -raw dms_assessment_role_arn)" \
          --result-location-bucket "${{ secrets.ASSESSMENT_S3_BUCKET }}" \
          --result-location-folder "assessments/${GITHUB_RUN_ID}/"

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      # 5. Start Migration
      - name: Start DMS Replication Task
        run: |
          aws dms start-replication-task \
            --replication-task-arn "${{ steps.tf.outputs.DMS_TASK_ARN }}" \
            --start-replication-task-type start-replication \
            --region ${{ env.AWS_REGION }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
